.container {
  background-color: #f1f1f1;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 85%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 25% 25% 25% 25%;
}

.emptyFirst {
  grid-row: 1/2;
}

.keylf {
  grid-column: 1/2;
  grid-row: 2/3;
}
.car {
  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/5;
}
.keyrf {
  grid-column: 3/4;
  grid-row: 2/3;
}
.keylb {
  grid-column: 1/2;
  grid-row: 3/4;
}
.keyrb {
  grid-column: 3/4;
  grid-row: 3/4;
}

/* right front */
#g32682:hover {
  transform: rotate(-40deg);
  transform-origin: 67px 175px;
  transition: transform 1s;
}

/* right back */
#g32696:hover {
  transform: rotate(-45deg);
  transform-origin: 76px 132px;
  transition: transform 1s;
}

/*  car body */
#g32762 {
}

/* left front */
#g130:hover {
  transform: rotate(40deg);
  transform-origin: 125px 175px;
  transition: transform 1s;
}

/* left back */
#g136:hover {
  transform: rotate(45deg);
  transform-origin: 119px 132px;
  transition: transform 1s;
}

/* trunk */
#path32797 {
  display: none;
}
#path32797:hover {
  display: block;
}

.btn {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #111;
  color: #555;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#333)
  );
  height: 40px;

  border-radius: 5px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  transform: translateY(2px);
}
