body {
  font-family: monospace;
  background: radial-gradient(rgb(82, 82, 82) 20%, #141414 80%);
}
.wrapper {
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
}

.main-head {
  grid-area: header;
  color: #8b8b8b;
}
.content {
  grid-area: main;
  display: grid;
  justify-items: center;
}
.side {
  grid-area: sidebar;
  width: 100%;
  display: grid;
  justify-items: center;
}
.main-footer {
  grid-area: footer;
  color: #8b8b8b;
}
.main-footer > a {
  color: teal;
}

@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
  .container {
    width: 80%;
    height: 580px !important;
  }
  .sidebar {
    height: 580px !important;
  }
}

/* *********************************************** */
/* GRID RELATED CSS */
.sidebar {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: 80%;
  height: 610px;
  display: flex;
  flex-direction: column;
}

.profile-userpic img {
  width: 50%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.container {
  /* background-color: #f1f1f1; */
  background: radial-gradient(white 40%, #f1f1f1 54%);
  width: 90%;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 25% 25% 25% 25%;
  height: 610px;
}

.emptyFirst {
  grid-row: 1/2;
}
.lock-button {
  margin: -22px;
  border-top-left-radius: 15px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  text-align: center;
  height: 60px;
  width: 60px;
  background-color: teal;
}
.lock-button:hover {
  background-color: indianred;
}
.lock-button:active {
  transform: translate(2px);
}
.lock-button i {
  padding-top: 15px;
  color: white;
}
.car {
  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/5;
}
.keylf {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.keyrf {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.keylb {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.keyrb {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.keytrunk {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  display: flex;
  flex-direction: column;
}

/* *********************************************** */
/* SVG TRANSFORMATION RELATED CSS */

/* right front */
.g32682-toggle {
  transform: rotate(-40deg);
  transform-origin: 67px 175px;
  transition: transform 0.5s;
}

/* right back */
.g32696-toggle {
  transform: rotate(-45deg) skewY(39deg);
  transform-origin: 76px 132px;
  transition: transform 0.5s;
}

/*  car body */
#g32762 {
}

/* left front */
.g130-toggle {
  transform: rotate(40deg);
  transform-origin: 125px 175px;
  transition: transform 0.5s;
}

/* left back */
.g136-toggle {
  transform: rotate(45deg) skewY(-39deg);
  transform-origin: 119px 132px;
  transition: transform 0.5s;
}

/* trunk */
#path32797 {
}
#path32798 {
  transform: scale(0.7);
  transform-origin: 95px 80px;
}

.path32797-toggle {
  transform: scale(1, 0.7);
  transform-origin: 80px 95px;
}

/* *********************************************** */
/* RANDOM ELEMENTS CSS */

.btn {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #111;
  color: #555;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#333)
  );
  width: 60px;
  height: 40px;
  margin-bottom: 6px;
  border-radius: 5px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

.btn:active {
  transform: translateY(2px);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(2, 66, 21)),
    to(rgb(10, 187, 104))
  );
}

label {
  font-family: monospace;
}
