.container {
  background-color: #f1f1f1;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 85%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 25% 25% 25% 25%;
}

.emptyFirst {
  grid-row: 1/2;
}

.car {
  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/5;
}
.keylf {
  grid-column: 3/4;
  grid-row: 3/4;
}
.keyrf {
  grid-column: 1/2;
  grid-row: 3/4;
}
.keylb {
  grid-column: 3/4;
  grid-row: 2/3;
}
.keyrb {
  grid-column: 1/2;
  grid-row: 2/3;
}
.keytrunk {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

/* right front */
.g32682-toggle {
  transform: rotate(-40deg);
  transform-origin: 67px 175px;
  transition: transform 0.5s;
}

/* right back */
.g32696-toggle {
  transform: rotate(-45deg) skewY(39deg);
  transform-origin: 76px 132px;
  transition: transform 0.5s;
}

/*  car body */
#g32762 {
}

/* left front */
.g130-toggle {
  transform: rotate(40deg);
  transform-origin: 125px 175px;
  transition: transform 0.5s;
}

/* left back */
.g136-toggle {
  transform: rotate(45deg) skewY(-39deg);
  transform-origin: 119px 132px;
  transition: transform 0.5s;
}

/* trunk */
#path32797 {
}
#path32798 {
  transform: scale(0.7);
  transform-origin: 95px 80px;
}

.path32797-toggle {
  transform: scale(1, 0.7);
  transform-origin: 80px 95px;
}

.btn {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #111;
  color: #555;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#333)
  );
  width: 60px;
  height: 40px;
  margin-bottom: 6px;
  border-radius: 5px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

.btn:active {
  transform: translateY(2px);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(2, 66, 21)),
    to(rgb(10, 187, 104))
  );
}

label {
  font-family: monospace;
}
